.decision-tree-diagram {
  width: 100%;
  height: 600px;
}

#btn-zoom{
  float: right;
  margin-right: 1%;
}

.diagram-overview{
  width: 20%;
  height: 25%;
  padding: 0;
  right: 0;
  bottom: 0;
  background:#f7f7f7;
  position:absolute;
  margin-right: 15%;
}

#swim-lane-diagram{
  width: 100%;
  position: relative;
}

#overview{
  width: 100%;
}

#diagram{
  width: 100%;
  height: 100%;
}
