<div class="control-section">
  <div id="swim-lane-diagram">
    <div id="diagram-space" class="decision-tree-diagram">
      <div id="switch-overview" class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
        <label for="checked">Zoom Pan</label>
        <!--        <div>{{isSwitchChecked}}</div>-->
        <ejs-switch id="checked" [checked]="isSwitchChecked" (change)="switchOnChange($event)"></ejs-switch>
      </div>
      <div id="btn-zoom" class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
        <button ejs-button (click)="zoomIn()">ZoomIn</button>
        <button ejs-button (click)="zoomOut()">ZoomOut</button>
      </div>
      <ejs-diagram #diagram id="diagram"
                   [snapSettings]='snapSettings'
                   [nodes]='nodes'
                   [connectors]='connectors'
                   [getConnectorDefaults]='getConnectorDefaults'
                   [getNodeDefaults]='getNodeDefaults'
                   [tooltip]='tooltip'
                   [tool]='tool'
                   [selectedItems]='selectedItems'
                   [contextMenuSettings]='contextMenuSettings'
                   (contextMenuOpen)='contextMenuOpen($event)'
                   (contextMenuClick)='contextMenuClick($event)'
                   (created)="created()">
      </ejs-diagram>
    </div>
    <div class="diagram-overview" *ngIf="isSwitchChecked === true; else hideOverView">
      <ejs-overview id="overview" sourceID="diagram"></ejs-overview>
    </div>
    <ng-template #hideOverView>
      <div></div>
    </ng-template>
  </div>
</div>
